.header_text{
  color: #4D4E68;
  font-size: 25px;
  text-align: center;
  line-height: 20px;
}

.main_text{
  color: #4D4E68;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  text-align: center;
  margin-left:10%;
  margin-right:10%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px
}

.content{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  text-align: center;
}
.content > div {
    margin: 0 30px;
}

.contentheading{
  color: #4D4E68;
  font-family:"Baskerville Old Face";
  font-size: 22px;
  line-height: 15px;
}
.contentsub{
  color: #4D4E68;
  font-family:"Baskerville Old Face";
  font-size: 20px;
  line-height: 10px;
}

.jobdate{
  color: #4D4E68;
  font-family:"Baskerville Old Face";
  font-size: 18px;
  line-height: 18px;
}

.jobdescription{
  color: #4D4E68;
  font-family:"Baskerville Old Face";
  font-size: 19px;
  line-height: 19px;
  text-align: center;
}

.a {
  font-family: "Baskerville Old Face";
  font-size: 13px;
}
/* unvisited link */
a:link, a:visited {
  color: #4D4E68;
}
/* mouse over link */
a:hover {
  color: #4D4E68;
}

/* selected link */
a:active {
  color: #4D4E68;
}

sectionheading {
  overflow: hidden;
  text-align: center;
}

sectionheading:before,
sectionheading:after {
  background-color: #4D4E68;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}

sectionheading:before {
  right: 0.5em;
  margin-left: -50%;
}

sectionheading:after {
  left: 0.5em;
  margin-right: -50%;
}

.center_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
}

w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.text-purple,.hover-text-purple:hover{color:#4D4E68}
.text-black,.hover-text-black:hover{color:Black}
.text-grey, .hover-text-grey:hover{color:Grey}
.text-white, .hover-text-white:hover{color:WhiteSmoke}
.grey-translucent-background{
  background-color: rgba(211, 211, 211, .7);
}
.purple-background, .hover-purple-background:hover{color:#4D4E68; background-color:#4D4E68 }
.light-purple,.hover-light-purple:hover{color:rgba(239, 236, 249, .1);background-color:rgba(239, 236, 249, 1)}
