/*
div{
  padding: 20px;
}
*/
.headingbackground{
  background-color:LightSteelBlue;
  color: black;
  text-align: left;
  line-height: normal;
  font-family:"Baskerville Old Face" serif; font-style: normal; font-variant: normal; font-weight: 100;
}

.headerInfo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1vw;
    flex-wrap: wrap;
}

.content{
  display: flex;
  justify-content: space-between;
  width: 30%
}

.newSection{
  font-family:"Baskerville Old Face" serif; font-style: normal; font-variant: normal; font-weight: 600; font-size:20px;
}

.NewElement{
  font-family:"Baskerville Old Face" serif; font-style: normal; font-variant: normal; font-weight: 600; font-size:18px;
  text-align: left;
}

.resumeInfo{
  margin-top:1%;
  font-family:"Baskerville Old Face" serif; font-style: normal; font-variant: normal; font-weight: 100; font-size:16px;
}
